@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* タップ時のハイライト無効化 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(193 222 249);
  overflow: hidden;
}
/*///////////////////////////////////
/// ここからコーディング
///////////////////////////////////*/
#container {
  position: relative;
  max-width: 600px;
  min-height: 100vh; /*フォールバック*/
  min-height: 100dvh;
  margin: 0 auto;
}
.counter__wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #fff;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn__fav {
  position: relative;
}
.icon__fav {
  width: 200px;
  height: auto;
}
.icon__fav__path {
  fill: rgb(255 154 185);
}
.fav__count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 44px;
  font-weight: bold;
  color: #fff;
}
.btn__reset {
  position: absolute;
  bottom: 40px;
  left: 20px;
  border: none;
  background-color: transparent;
}
.icon__reset {
  width: 40px;
  height: auto;
  fill: #fff;
}
